<!DOCTYPE html>
<html lang="fr" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="./assets/css/bulma-extensions/bulma-dashboard/dist/bulma-dashboard.min.css">
    <link rel="stylesheet" href="./assets/css/bulma-extensions/bulma-list/css/bulma-list.css">
    <link rel="stylesheet" href="./assets/css/bulma-extensions/dist/css/bulma-extensions.min.css">
    <link rel="stylesheet" href="./assets/css/fontawesome-free-6.5.1-web/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3 class="title">Form</h3>
        <div class="box">
            <div class="field">
                <label for="input-text" class="label">
                    Input Text
                </label>
                <div class="control">
                    <input type="text" class="input" id="input-text" />
                    <span class="help is-color-danger-40">Help</span>
                </div>
            </div>
            <div class="field">
                <label for="input-number" class="label">
                    Input Number
                </label>
                <div class="control">
                    <input type="number" class="input" id="input-number" />
                    <span class="help is-color-danger-40">Help</span>
                </div>
            </div>
            <div class="field">
                <label for="input-date" class="label">
                    Input Date
                </label>
                <div class="control">
                    <input type="date" class="input" id="input-date" />
                    <span class="help is-color-danger-40">Help</span>
                </div>
            </div>
            <div class="field">
                <label for="input-time" class="label">
                    Input Time
                </label>
                <div class="control">
                    <input type="time" class="input" id="input-time" />
                    <span class="help is-color-danger-40">Help</span>
                </div>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="field has-addons">
                    <div class="control">
                        <div class="file">
                            <label class="file-label">
                                <input class="file-input" type="file" name="file" />
                                <span class="file-cta">
                                                    <span class="file-icon">
                                                        <i class="fas fa-file-import"></i>
                                                    </span>
                                                    <span class="file-label">
                                                        Input File
                                                    </span>
                                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-link">
                                        <span class="icon">
                                            <i class="fas fa-check"></i>
                                        </span>
                        </button>
                    </div>
                </div>
            </form>
            <div class="field">
                <label for="select" class="label">
                    Select
                </label>
                <div class="control">
                    <div class="select is-fullwidth">
                        <select id="select">
                            <option>
                                Option 1
                            </option>
                            <option>
                                Option 2
                            </option>
                            <option>
                                Option 3
                            </option>
                        </select>
                    </div>
                    <span class="help is-color-danger-40">Help</span>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label for="checkbox" class="checkbox">
                        <input type="checkbox" id="checkbox" />
                        Checkbox
                    </label>
                    <span class="help is-color-danger-40">Help</span>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="question">
                        Yes
                    </label>
                    <label class="radio">
                        <input type="radio" name="question">
                        No
                    </label>
                    <span class="help is-color-danger-40">Help</span>
                </div>
            </div>
            <div class="field">
                <label for="textarea" class="label">
                    Textarea
                </label>
                <div class="control">
                    <textarea class="textarea" id="textarea"></textarea>
                    <span class="help is-color-danger-40">Help</span>
                </div>
            </div>
            <div class="buttons">
                <button class="button">Normal Button</button>
                <button class="button" disabled>Disabled Button</button>
                <button class="button is-link">Link Button</button>
                <button class="button is-primary">Primary Button</button>
                <button class="button is-info">Info Button</button>
                <button class="button is-success">Success Button</button>
                <button class="button is-warning">Warning Button</button>
                <button class="button is-danger">Danger Button</button>
            </div>
        </div>
        <h3 class="title">Table</h3>
        <div class="box">
            <div class="field has-addons has-addons-centered is-hidden-desktop">
                <div class="control has-icons-left has-icons-right">
                    <label>
                        <input type="text" class="input" placeholder="Rechercher..."/>
                    </label>
                    <span class="icon is-left is-ghost">
                                    <i class="fas fa-magnifying-glass"></i>
                                </span>
                    <span class="icon is-right is-clickable is-ghost reset">
                                    <i class="fas fa-delete-left"></i>
                                </span>
                </div>
            </div>
            <div class="is-flex is-justify-content-space-between">
                <h3 class="subtitle has-skeleton has-text-weight-bold">
                    Stock
                </h3>
                <div class="field is-grouped">
                    <div class="field">
                        <div class="control">
                            <div class="dropdown is-right">
                                <div class="dropdown-trigger">
                                    <button class="button">
                                                    <span class="icon">
                                                        <i class="fas fa-solid fa-filter"></i>
                                                    </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu">
                                    <div class="dropdown-content">
                                        <a class="dropdown-item">
                                            Item 1
                                        </a>
                                        <a class="dropdown-item">
                                            Item 2
                                        </a>
                                        <a class="dropdown-item">
                                            Item 3
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <div class="dropdown is-right">
                                <div class="dropdown-trigger">
                                    <button class="button is-ghost">
                                                    <span class="icon">
                                                        <i class="fas fa-ellipsis-vertical"></i>
                                                    </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu">
                                    <div class="dropdown-content">
                                        <a class="dropdown-item">
                                            Exporter en pdf
                                        </a>
                                        <a class="dropdown-item">
                                            Exporter en excel
                                        </a>
                                        <a class="dropdown-item">
                                            Exporter en CSV
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>
                                            <span class="icon is-clickable add">
                                                <i class="fas fa-add"></i>
                                            </span>
                        </th>
                        <th>
                            Désignation
                        </th>
                        <th class="has-text-centered">
                            Unité
                        </th>
                        <th class="has-text-centered">
                            Quantité
                        </th>
                        <th class="has-text-centered">
                            Identification
                        </th>
                        <td>
                            <div class="field is-hidden-touch">
                                <div class="control has-icons-left has-icons-right is-pulled-right">
                                    <label>
                                        <input type="text" class="input" placeholder="Rechercher..."/>
                                    </label>
                                    <span class="icon is-left is-ghost">
                                                        <i class="fas fa-magnifying-glass"></i>
                                                    </span>
                                    <span class="icon is-right is-clickable is-ghost reset">
                                                        <i class="fas fa-delete-left"></i>
                                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Ampoule
                        </td>
                        <td class="has-text-right">
                            Pièce
                        </td>
                        <td class="has-text-right">
                            8
                        </td>
                        <td class="has-text-right">

                        </td>
                        <td>
                            <div class="buttons is-pulled-right">
                                <a class="button is-dark is-background-grey has-text-white is-hidden-touch">
                                    <div class="icon-text">
                                                        <span class="icon">
                                                            <i class="fa-solid fa-pen"></i>
                                                        </span>
                                        <span>
                                                            Modifier
                                                        </span>
                                    </div>
                                </a>
                                <a class="button is-danger is-background-danger-40 has-text-white is-hidden-touch">
                                    <div class="icon-text">
                                                        <span class="icon">
                                                            <i class="fa-solid fa-trash-can"></i>
                                                        </span>
                                        <span>
                                                            Supprimer
                                                        </span>
                                    </div>
                                </a>
                                <a class="button is-dark is-background-grey has-text-white is-hidden-desktop">
                                                    <span class="icon">
                                                        <i class="fa-solid fa-pen"></i>
                                                    </span>
                                </a>
                                <a class="button is-danger is-background-danger-40 has-text-white is-hidden-desktop">
                                                    <span class="icon">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav class="pagination">
                <a class="pagination-previous is-disabled">
                    Précédent
                </a>
                <a class="pagination-next">
                    Suivant
                </a>
                <ul class="pagination-list is-hidden-mobile">
                    <li>
                        <a class="pagination-link is-current">
                            1
                        </a>
                    </li>
                    <li>
                        <a class="pagination-link">
                            2
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>
