<div class="box">
    <div class="is-flex is-justify-content-space-between">
        <h3 class="subtitle has-text-weight-bold">
            Facture
        </h3>
        <div class="field is-grouped"></div>
    </div>
    <div class="table-container">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th class="has-text-left">Date devis</th>
                    <th class="has-text-left">Date facture</th>
                    <th class="has-text-left">Tache</th>
                    <th class="has-text-right">Montant total</th>
                </tr>
            </thead>
            <tbody>
                @for (facture of factures; track facture._id) {
                <tr>
                    <td>{{ formatDate(facture.iddevis.date) }}</td>
                    <td>{{ formatDate(facture.createdAt) }}</td>
                    <td>
                        <tr>
                            <th class="has-text-left">Responsable</th>
                            <th class="has-text-right">Heure</th>
                            <th class="has-text-left">Role</th>
                            <th class="has-text-left">Avancement</th>
                        </tr>
                        @for (tache of facture.tache; track tache._id) {
                            <tr>
                                <td class="has-text-left">{{ tache.employe.nom }}</td>
                                <td class="has-text-right">{{ tache.heure }}</td>
                                <td class="has-text-left">{{ tache.role.nom }}</td>
                                <td class="has-text-left">
                                    @if (tache.statut == 1){
                                        <span class="tag is-success">Terminé</span>
                                    }
                                    @else{
                                        <span class="tag is-warning">En cours</span>
                                    }                                    
                                </td>
                            </tr>
                        }
                    </td>
                    <td class="has-text-right">{{ facture.montant }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>