<div class="box">
    <form method="post" (ngSubmit)="addDetaildevis()" #detaildevisForm="ngForm">
        <div class="field">
            <label for="iddevis" class="label">
                Iddevis
            </label>
            <div class="control">
                <input type="text" class="input" id="iddevis" name="iddevis" [(ngModel)]="newDetaildevis.iddevis"
                    required />
            </div>
        </div>
        <div class="field">
            <label for="idservice" class="label">
                Idservice
            </label>
            <div class="control" *ngFor="let row of list">
                <label for="checkbox" class="checkbox">
                    <input type="checkbox" name="idservice[]" [value]="row._id"
                        (change)="toggleDetaildevis(row._id, $event)"
                        [checked]="newDetaildevis.idservice.includes(row._id)" />
                    {{ row.nom }}
                </label>
            </div>
        </div>


        <div class="buttons">
            <button class="button is-link" type="submit" [disabled]="detaildevisForm.invalid">Ajouter</button>
            <button class="button is-background-danger-40 has-text-white" type="button"
                (click)="goBackToList()">Annuler</button>
        </div>
    </form>
</div>