<div class="box">
    <form method="post" (ngSubmit)="addRole()" #roleForm="ngForm">
        <div class="field">
            <label for="nom" class="label">
                Nom
            </label>
            <div class="control">
                <input type="text" class="input" id="nom" name="nom" [(ngModel)]="newRole.nom" required />
            </div>
        </div>
        <div class="field">
            <label for="idrole" class="label">
                Idrole
            </label>
            <div class="control">
                <div class="select is-fullwidth">
                    <select id="idrole" name="idrole" [(ngModel)]="newRole.idrole" >
                        <option *ngIf="!newRole.idrole" value="" disabled selected>Sélectionner Role</option>
                        <option *ngFor="let row of list" [value]="row._id">
                            {{ row.nom }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
          <label for="salaire" class="label">
            Salaire
          </label>
          <div class="control">
            <input type="number" class="input" id="salaire" name="salaire" [(ngModel)]="newRole.salaire"
                   required />
          </div>
        </div>
        <div class="buttons">
            <button class="button is-link" type="submit" [disabled]="roleForm.invalid">Ajouter</button>
            <button class="button is-background-danger-40 has-text-white" type="button"
                (click)="goBackToList()">Annuler</button>
        </div>
    </form>
</div>
