<div class="box">
    <form method="post" (ngSubmit)="addFormulerole()" #formuleroleForm="ngForm">
        <div class="field">
            <label for="idservice" class="label">
                Idservice
            </label>
            <div class="control">
                <div class="select is-fullwidth">
                    <select id="idservice" name="idservice" [(ngModel)]="newFormulerole.idservice">
                        <option *ngIf="!newFormulerole.idservice" value="" disabled selected>Selectionner Idservice
                        </option>
                        <option *ngFor="let row of list" [value]="row._id">
                            {{ row.nom }}
                        </option>
                    </select>
                </div>
                <span class="help is-color-danger-40">Help</span>
            </div>
        </div>
        <div class="field">
            <label for="idrole" class="label">
                Idrole
            </label>
            <div class="control" *ngFor="let row of roles">
                <label for="checkbox" class="checkbox">
                    <input type="checkbox" name="idrole[]" [value]="row._id"
                        (change)="toggleFormulerole(row._id, $event)"
                        [checked]="newFormulerole.idrole.includes(row._id)" />
                    {{ row.nom }}
                </label>
                <span class="help is-color-danger-40">Help</span>
            </div>
        </div>
        <div class="field">
            <label for="nombre" class="label">
                Nombre
            </label>
            <div class="control">
                <input type="number" class="input" id="nombre" name="nombre" [(ngModel)]="newFormulerole.nombre"
                    required />
                <span class="help is-color-danger-40">Help</span>
            </div>
        </div>
        <div class="field">
            <label for="heure" class="label">
                Heure
            </label>
            <div class="control">
                <input type="number" class="input" id="heure" name="heure" [(ngModel)]="newFormulerole.heure"
                    required />
                <span class="help is-color-danger-40">Help</span>
            </div>
        </div>


        <div class="buttons">
            <button class="button is-link" type="submit" [disabled]="formuleroleForm.invalid">Ajouter</button>
            <button class="button is-background-danger-40 has-text-white" type="button"
                (click)="goBackToList()">Annuler</button>
        </div>
    </form>
</div>