<div class="dashboard is-full-height">
  <aside class="dashboard-panel is-scrollable is-medium box">
    <header class="dashboard-panel-header">
      <h3 class="title has-text-info-bold">
        m1p12mean-jeremie-rebeka
      </h3>
    </header>
    <section class="dashboard-panel-content">
      <aside class="menu" *ngIf="menus.length">
        <ng-container *ngFor="let menu of menus">
          <p class="menu-label">{{ menu.name }}</p>
          <ul class="menu-list">
            <li *ngFor="let item of menu.submenus">
              <a [routerLink]="item.path">{{ item.name }}</a>
              <ul *ngIf="item.submenus">
                <li *ngFor="let submenu of item.submenus">
                  <a [routerLink]="submenu.path">{{ submenu.name }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </ng-container>
      </aside>
    </section>
    <footer class="dashboard-panel-footer"></footer>
  </aside>
  <main class="dashboard-main is-scrollable hero is-fullheight">
    <header class="hero-head">
      <nav class="navbar has-shadow is-transparent">
        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="list has-visible-pointer-controls">
                <div class="list-item">
                  <div class="list-item-image">
                    <figure class="image">
                      <img class="is-rounded" src="https://via.placeholder.com/128x128.png?text=Image" alt="">
                    </figure>
                  </div>
                  <div class="list-item-content">
                    <div class="list-item-title"></div>
                    <div class="list-item-description"></div>
                  </div>
                  <div class="list-item-controls">
                    <a (click)="logout()">
                    <span class="icon is-large">
                        <i class="fas fs-lg fa-sign-out-alt"></i>
                    </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="hero-body">
      <div class="container">
        <router-outlet class="content"></router-outlet>
      </div>
    </main>
    <footer class="hero-foot has-background-white-ter">
      <div class="section is-flex is-justify-content-center">
        <span>
          RAVALISON Andrianomentsoa Jérémie - RAVALISON Andrianomentsoa Rebeka
        </span>
      </div>
    </footer>
  </main>
</div>
