<div class="dashboard is-full-height">
  <aside class="dashboard-panel is-scrollable is-medium box">
    <header class="dashboard-panel-header">
      <h3 class="title has-text-info-bold">
        Bulma
      </h3>
    </header>
    <section class="dashboard-panel-content">
      <aside class="menu">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a>Dashboard</a></li>
          <li><a>Customers</a></li>
        </ul>
        <p class="menu-label">
          Administration
        </p>
        <ul class="menu-list">
          <li><a>Team Settings</a></li>
          <li>
            <a class="is-active">Manage Your Team</a>
            <ul>
              <li><a>Members</a></li>
              <li><a>Plugins</a></li>
              <li><a>Add a member</a></li>
            </ul>
          </li>
          <li><a>Invitations</a></li>
          <li><a>Cloud Storage Environment Settings</a></li>
          <li><a>Authentication</a></li>
        </ul>
        <p class="menu-label">
          Transactions
        </p>
        <ul class="menu-list">
          <li><a>Payments</a></li>
          <li><a>Transfers</a></li>
          <li><a>Balance</a></li>
        </ul>
      </aside>
    </section>
    <footer class="dashboard-panel-footer">

    </footer>
  </aside>
  <main class="dashboard-main is-scrollable hero is-fullheight">
    <header class="hero-head">
      <nav class="navbar has-shadow is-transparent">
        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="list has-visible-pointer-controls">
                <div class="list-item">
                  <div class="list-item-image">
                    <figure class="image">
                      <img class="is-rounded" src="https://via.placeholder.com/128x128.png?text=Image" alt="">
                    </figure>
                  </div>
                  <div class="list-item-content">
                    <div class="list-item-title">Name</div>
                    <div class="list-item-description">First Name</div>
                  </div>
                  <div class="list-item-controls">
                    <a (click)="logout()">
                    <span class="icon is-large">
                        <i class="fas fs-lg fa-sign-out-alt"></i>
                    </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="hero-body">
      <div class="container">
        <router-outlet class="content"></router-outlet>
      </div>
    </main>
    <footer class="hero-foot has-background-white-ter">
      <div class="section is-flex is-justify-content-space-between">
      <span>
          2025
      </span>
        <span>
          © IT Student
      </span>
      </div>
    </footer>
  </main>
</div>
