<div class="box">
    <form method="post" (ngSubmit)="updateEmploye()" #employeForm="ngForm">
        <div class="field">
            <label for="nom" class="label">
                Nom
            </label>
            <div class="control">
                <input type="text" class="input" id="nom" name="nom" [(ngModel)]="newEmploye.nom" required />
            </div>
        </div>
        <div class="field">
            <label for="salaire" class="label">
                Salaire
            </label>
            <div class="control">
                <input type="number" class="input" id="salaire" name="salaire" [(ngModel)]="newEmploye.salaire"
                    required />
            </div>
        </div>
        <div class="field">
            <label for="motdepasse" class="label">
                Motdepasse
            </label>
            <div class="control">
                <input type="text" class="input" id="motdepasse" name="motdepasse" [(ngModel)]="newEmploye.motdepasse"
                    required />
            </div>
        </div>
        <div class="field">
            <label for="idrole" class="label">
                Idrole
            </label>
            <div class="control">
                <div class="select is-fullwidth">
                    <select id="idrole" name="idrole" [(ngModel)]="newEmploye.idrole">
                        <option *ngIf="!newEmploye.idrole" value="" disabled selected>Selectionner Role</option>
                        <option *ngFor="let row of list" [value]="row._id">
                            {{ row.nom }}
                        </option>
                    </select>
                </div>
            </div>
        </div>


        <div class="buttons">
            <button class="button is-link" type="submit" [disabled]="employeForm.invalid">Modifier</button>
            <button class="button is-background-danger-40 has-text-white" type="button"
                (click)="goBackToList()">Annuler</button>
        </div>
    </form>
</div>