<div class="box">
    <h3 class="subtitle has-text-weight-bold">
        Demande
    </h3>
    <form method="post" (ngSubmit)="addDemande()" #demandeForm="ngForm">
        <div class="field">
            <label for="description" class="label">
                Description
            </label>
            <div class="control">
                <input type="text" class="input" id="description" name="description"
                    [(ngModel)]="newDemande.description" required />

            </div>
        </div>
        <div class="field">
            <label for="date" class="label">
                Date
            </label>
            <div class="control">
                <input type="date" class="input" id="date" name="date" [(ngModel)]="newDemande.date" required />

            </div>
        </div>


        <div class="buttons">
            <button class="button is-link" type="submit" [disabled]="demandeForm.invalid">Ajouter</button>
        </div>
    </form>
</div>
