<div class="box">
    <div class="field has-addons has-addons-centered is-hidden-desktop">
        <div class="control has-icons-left has-icons-right">
            <label>
                <input type="text" class="input" placeholder="Rechercher..." />
            </label>
            <span class="icon is-left is-ghost">
                <i class="fas fa-magnifying-glass"></i>
            </span>
            <span class="icon is-right is-clickable is-ghost reset">
                <i class="fas fa-delete-left"></i>
            </span>
        </div>
    </div>
    <div class="is-flex is-justify-content-space-between">
        <h3 class="subtitle has-text-weight-bold">
            Demande
        </h3>
        <div class="field is-grouped">
        </div>
    </div>
    <div class="table-container">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th class="has-text-left">Client</th>
                    <th class="has-text-left">Description</th>
                    <th class="has-text-left">Date</th>

                    <td>
                        
                    </td>
                </tr>
            </thead>
            <tbody>
                @for (demande of demandes; track demande._id) {
                <tr>
                    <td>{{ demande.client.nom }}</td>
                    <td>{{ demande.description }}</td>
                    <td>{{ demande.date }}</td>

                    <td>
                        <div class="buttons is-pulled-right">
                            <a (click)="createDevis(demande._id, demande.client._id)"
                                class="button is-link has-text-white is-hidden-touch">
                                <div class="icon-text">
                                    <span class="icon">
                                        <i class="fa-solid fa-plus"></i>
                                    </span>
                                    <span>
                                        Créer un devis
                                    </span>
                                </div>
                            </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>